fastapi
uvicorn[standard]
sqlalchemy
pyodbc
python-dotenv
bcrypt
passlib[bcrypt]
python-jose[cryptography]
pydantic
email-validator
python-multipart
openpyxl
APScheduler
reportlab
openpyxl
prometheus-fastapi-instrumentator